.SearchForm {
    display: flex;
}

.SearchForm-select, .SearchForm-input, .SearchForm-button {
    background-color: black;
    color: white;
    font-size: 12pt;
}

.SearchForm-selectGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
}

.SearchForm-input {
    background-color: black;
    margin-left: 5px;
    width: 100%;
    overflow: hidden;
    /* text-align: center; */
}

.SearchForm-input::placeholder {
    color: white;
}

.SearchForm-button {
    color: white;
    background-color: black;
    margin-left: 5px;
}