.SearchForm {
    display: flex;
}

.SearchForm-select, .SearchForm-input, .SearchForm-button {
    padding: 0 2px;
    background-color: black;
    color: white;
    font-size: 1em;
}

.SearchForm-input, .SearchForm-button {
    padding: 2px 5px;

}

.SearchForm-selectGrid {
    display: flex;
}

.SearchForm-input {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 5px;
}

.SearchForm-searchBar {
    width: 100%;
    display: flex;
}

.SearchForm-input::placeholder {
    color: white;
}

.SearchForm-button {
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    -webkit-transition-duration: 1.0s; 
    transition-duration: 1.0s;
}

.SearchForm-button:hover {
    color: black;
    background-color: rgb(255, 205, 0);
}

@media only screen and (max-width: 600px) {
    .SearchForm, .SearchForm-selectGrid {
        flex-direction: column;
    }

    .SearchForm-select, .SearchForm-input, .SearchForm-button {
        margin: 1%;
    }
}

@media only screen and (min-width: 601px) {
    .SearchForm-select, .SearchForm-input {
        margin-right: 1%;
    }

    .SearchForm-input {
        overflow: hidden;
    }
}