.List-defaultTitle {
    width: 274px;
    margin: 5% auto;
    padding: 0 0 5px;
    display: block;
    background: linear-gradient(rgb(105, 0, 16), rgb(145, 0, 22));
    border-radius: 5px;
}

.List-defaultOne, .List-defaultTwo {
    margin: 0;
    display: inline-block;
    font-size: 3em;
    color: whitesmoke;
}

.List-defaultOne {
    padding-left: 7px;
    float: left;
}

.List-defaultTwo {
    padding-right: 7px;
    color: rgb(199, 188, 188);
}

.List-renderList {
    margin: 5% 0;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
}

.List-sheetTitle {
    padding: 0 1%;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    word-wrap: break-word;
    background: linear-gradient(rgb(105, 0, 16), rgb(145, 0, 22));
    border-radius: 3px 3px 0 0;
}

.List-metaData {
    background: linear-gradient(rgba(110, 110, 110, 0.5) , rgba(110, 110, 110, 0.2));
}

.List-personData {
    background-color: rgba(110, 110, 110, 0.2);
}

.List-metaTitle, .List-personTitle {
    margin: 0;
    padding: 5px 2%;
    color: whitesmoke;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95) ,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
}

.List-metaList {
    margin: 0;
    padding: 0 2%;
    list-style: none;
}

.List-metaItem {
    margin: 0;
    padding: 5px 0;
}

.List-personList {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media only screen and (min-width: 800px) {
    .List-personList {
        display: flex;
        flex-wrap: wrap;
    }
}