.List-defaultTitle {
    margin: 5% 0;
    text-align: center;
    font-size: 3em;
}

.List-renderList {
    margin: 5% 0;
    background-color: whitesmoke;
    border: 1px solid wheat;
    border-radius: 5px 5px 0 0;
}

.List-sheetTitle {
    padding: 0 1%;
    margin: 0;
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    word-wrap: break-word;
    background-color: rgb(120, 0, 18);
    border-bottom: 1px solid wheat;
    border-radius: 5px 5px 0 0;
}

.List-metaData, .List-personData {
    background-color: rgba(110, 110, 110, 0.1);
}

.List-metaData {
    padding-bottom: 2%;
}

.List-metaTitle, .List-personTitle {
    margin: 0;
    padding-left: 3%;
    color: rgb(120, 0, 18);
}

.List-metaList {
    margin: 0;
    padding: 0 2%;
    list-style: none;
}

.List-metaItem {
    margin: 0;
    padding: 5px 0;
}

.List-personList {
    margin: 0;
    padding: 0;
    list-style: none;
}