.Card {
    margin: -1px 0 0 0;
}

.Card-title {
    margin: 0;
    padding: 5px 3%;
    color: rgb(120, 0, 18);
    background: linear-gradient(rgba(110, 110, 110, 0.3) , transparent);
}

.Card-body {
    display: flex;
    flex-direction: column;
}

.Card-phoneTag, .Card-content {
    margin: 0;
    padding: 4px 4%;
}


@media only screen and (min-width: 800px) {
    .Card {
        margin: 0 -1px -1px 0;
        min-width: 50%;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
    }

    .Card-full {
        width: 100%;
    }
}