/* .Card {

} */

.Card-name {
    margin: 0;
    padding: 1%;
    background-color: silver;
}

/* .Card-body {

}

.Card-phoneTag {

}

.Card-room {

}

.Card-extension {

}

.Card-phoneNumber {

}

.Card-bodyMain {

}

.Card-bodyNotes {

}

.Card-note {

} */