.history {
    margin: 2% 5% 0;
    padding-bottom: 2%
}

.history-select {
    min-width: 200px;
    margin: 5px;
}

.history-select-small {
    min-width: 100px;
    margin: 5px;
}

.history-form-right {
    display: block !important;
    float: right;
}

.history-table {
    margin: 10px 0;
}

.history-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-page {
    margin: 0 15px;
}