.account {
    margin: 2% 5% 0;
    padding-bottom: 2%
}

.account-modify {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.account-modify-btn {
    margin-left: 10px !important;
}


@media only screen and (max-width: 800px) {
    .account-help {
        flex-wrap: wrap;
    }
}