.Footer {
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#school-information {
    color: white;
    display: flex;
    width: 350px;
}

.Footer2 {
    background-color: black;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#contact-info {
    color: white;
    display:
}