.edit {
    margin: 2% 5% 0;
    padding-bottom: 2%
}

.edit-help {
    display: flex;
}

.edit-help-div {
    margin: 5%;
    padding: 3%;
    font-size: 0.75em;
    background-color: whitesmoke;
    border-radius: 5px;
}

.edit-help-title {
    margin-top: 0;
}