.DeleteIndex-removeBtn {
    margin: 2px 2px 0 0;
    padding: 3px;
    float: right;
    text-align: center;
}

.DeleteIndex-ordItem {
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.DeleteIndex-sheets {
    margin: 0 0 5px;
    padding-left: 3%;
    background-color: black;
    color: white;
}

.DeleteIndex-sheetList {
    padding: 0 4%;
    display: flex;
    flex-wrap: wrap;
}

.DeleteIndex-summary{
    background-color: #777777;
    text-align: center;
    margin-bottom: 0 ;
}
.DeleteIndex-spreadTitle{
    margin: 0;
   background-color: #780012;
   color: white;
   text-align: center;
   list-style:none!important;
}
.DeleteIndex-spreadList {
    padding: 0;
    background-color: whitesmoke;
    list-style-type: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.DeleteIndex-unordItem{
    margin-right: 15px;
    list-style-type: none;
}
