.header-top {
    height: 92px;
    background-color: #780012;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    -webkit-transition-duration: 1.0s; 
    transition-duration: 1.0s;
}

.header-top-left {
    float: left;
}

.header-top-list {
    list-style: none;
    display: flex;
}

.header-top-item {
    width: 80px;
    height: 60px;
    text-align: center;
    display: flex;
}

.header-top-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(255, 205, 0);
    text-decoration: none;
    -webkit-transition-duration: 1.0s; 
    transition-duration: 1.0s;
    margin-left: 10px;
    
}

.header-top-link:hover {
    background-color: rgb(255, 205, 0);
    color: rgb(134, 31, 65);
}

.header-btm {
    width: 100vw;
    min-width: 550px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95) ,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
}

.header-btm-list {
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.header-btm-item {
    margin: 0 5px;
}

.header-btm-link {
    padding: 2px 5px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.header-btm-link:hover {
    cursor: pointer;
    text-decoration: underline;
}