.header {
    background-color: #780012;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    -webkit-transition-duration: 1.0s; 
    transition-duration: 1.0s;
}

.nav-logo {
    height: 60px;
    width: auto;
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

.nav-item-list {
    list-style: none;
    display: flex;
}

.nav-item {
    width: 80px;
    height: 60px;
    text-align: center;
    display: flex;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(255, 205, 0);
    text-decoration: none;
    -webkit-transition-duration: 1.5s; 
    transition-duration: 1.5s;
    margin-left: 10px;
    
}

.nav-link:hover {
    background-color: rgb(255, 205, 0);
    color: rgb(134, 31, 65);
}

