.AddIndex-form {
    display: flex;
    justify-content: center;
}
.AddIndex-inputs {
    display: flex;
}

.AddIndex-label, .AddIndex-text, .AddIndex-btn {
    padding: 2px 5px;
    color: white;
    font-size: 1em;
}

.AddIndex-text, .AddIndex-btn {
    background-color: black;
    border: none;
}

.AddIndex-label {
    background-color: rgb(120, 0, 18);
}

.AddIndex-text {
    width: 100%;
    overflow: hidden;
    border: none;
}

.AddIndex-text::placeholder {
    color: white;
}

.AddIndex-btn {
    float: right;
    margin-left: 5px;
    border-radius: 5px;
}

.AddIndex-example {
    text-align: center;
    font-size: 0.5em;
    word-wrap: break-word;
}

.AddIndex-data {
    margin: 5% 0;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.4);
}

.AddIndex-header {
    padding: 0 1%;
    margin: 0;
    color: whitesmoke;
    font-size: 2em;
    word-wrap: break-word;
    background: linear-gradient(rgb(105, 0, 16), rgb(145, 0, 22));
    border-radius: 3px 3px 0 0;
}

.AddIndex-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.AddIndex-item {
    margin: 0;
    padding: 5px;
    color: rgb(120, 0, 18);
    background: linear-gradient(rgba(110, 110, 110, 0.5) , rgba(110, 110, 110, 0.2));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.AddIndex-itemTitle {
    margin: 0;
}

.AddIndex-remove, .AddIndex-post {
    color: whitesmoke;
    font-weight: bold;
    background-color: black;
    border: none;
    border-radius: 5px;
}

.AddIndex-remove {
    padding: 5px;
}

.AddIndex-post {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 2em;
}


.AddIndex-remove:hover, .AddIndex-post:hover, .AddIndex-btn:hover  {
    color: black;
    background-color: gold;
    cursor: pointer;
}
@media only screen and (max-width: 800px) {

    .AddIndex-form {
        align-items: flex-start;
        flex-direction: column;
    }

    .AddIndex-label {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .AddIndex-text {
        border: none;
        border-radius: 0 5px 5px 5px;
    }
}

@media only screen and (min-width: 801px) {

    .AddIndex-form {
        align-items: center;
    }

    .AddIndex-label {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    .AddIndex-text {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

}