.Index {
    min-height: 90vh;
    margin: 50px 5% 5%; 
}

.Index-navBar {
    position: absolute;
    top: 10vh;
    left: 0;
    width: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.95) ,rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.95));
}

.Index-navList {
    margin: 0;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

.Index-navItem {
    margin: 0 5px;
}

.Index-link {
    padding: 2px 5px;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
}

.Index-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Index-help {
    display: flex;
}

.Index-helpDiv {
    margin: 5%;
    padding: 3%;
    font-size: 0.75em;
    background-color: whitesmoke;
    border-radius: 5px;
}

.Index-helpTitle {
    margin-top: 0;
}

/* .Index-helpContent {
    font-size: 0.75em;
} */